<div class="br-footer" style="height=10vh">
  <div class="container-lg">
    
    
    <div class="d-none d-sm-block">
      <div class="row align-items-end justify-content-between">
        <div class="col social-network">
          <p class="text-up-01 text-extra-bold text-uppercase mb-0 mt-2" style="font-size:15px" >Redes Sociais</p>
          <i class="fab fa-linkedin-in fa-1x"></i>
           <i class="fab fa-twitter fa-1x"></i>
           <i class="fab fa-facebook-f fa-1x"></i>
           <i class="fab fa-instagram fa-1x"></i>
        </div>
        <div class="logo py-1">
     <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Imagem" style="max-width: 120px;">
    </div>
        <div class="col assigns text-right">
        <%= image_tag "sus-logo-branco-h.png", class: "ml-4 mb-1", alt: "sus" %>
        </div>
      </div>
    </div>
  </div>
  <div class="br-divider"></div>
  <div class="container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3 text-center">Trabalho desenvolvido para fins didáticos de alunos do curso "Coding Bootcamp" da escola "LeWagon"</div>
    </div>
  </div>
</div>


 <%# <div class="logo p-0">
      <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Imagem">
    </div>
        <div class="col assigns text-right"><%= image_tag "sus-logo-branco-h.png", class: "ml-4 mb-1", alt: "sus" %>
        <%# </div>
      </div>
    </div>
  </div>
  <div class="br-divider"></div>
  <div class="container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3 text-center">Trabalho desenvolvido para fins didáticos de alunos do curso "Coding Bootcamp" da escola "LeWagon"</div>
    </div>
  </div> %>
<%# </div> %> 

