     <div class="container-fluid">
      
      <div class="br-footer">
        <div class="container-lg">
          <div class="logo text-center"><img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Imagem"></div>
          <div class="itens-centralized">
          <div class="br-list" collapsible horizontal unique>
            <div class="col-2"><a class="item" href="javascript:void(0);" link>
                <div class="content text-down-01 text-bold text-uppercase">Categoria 1</div>
                <div class="support"><i class="fas fa-angle-up"></i></div></a>
              <div class="br-list"><a class="item" href="javascript:void(0);" link>
                  <div class="content">Item da Lista </div></a><a class="item" href="javascript:void(0);" link>
                  <div class="content">Item da Lista </div></a><a class="item" href="javascript:void(0);" link>
                  </a>
              </div>
            </div>
            <div class="col-2"><a class="item" href="javascript:void(0);" link>
                <div class="content text-down-01 text-bold text-uppercase">Categoria 2</div>
                <div class="support"><i class="fas fa-angle-up"></i></div></a>
              <div class="br-list"><a class="item" href="javascript:void(0);" link>
                  <div class="content">Item da Lista </div></a><a class="item" href="javascript:void(0);" link>
                  <div class="content">Item da Lista  -  teste teste testestes testeste teste testeteste testeteste teste teste testetesteteste teste teste teste teste</div></a>
              </div>
            </div>
            <div class="col-2"><a class="item" href="javascript:void(0);" link>
                <div class="content text-down-01 text-bold text-uppercase">Categoria 3</div>
                <div class="support"><i class="fas fa-angle-up"></i></div></a>
              <div class="br-list"><a class="item" href="javascript:void(0);" link>
                  <div class="content">Item da Lista </div></a><a class="item" href="javascript:void(0);" link>
                  <div class="content">Item da Lista  -  teste teste testestes testeste teste testeteste testeteste teste teste testetesteteste teste teste teste teste</div></a>
              </div>
            </div>
            </div>
          </div>
          <div class="d-none d-sm-block">
            <div class="row align-items-end justify-content-between py-5">
              <div class="col social-network">
                <p class="text-up-01 text-extra-bold text-uppercase">Redes Sociais</p>
                <i class="fab fa-linkedin-in fa-2x"></i>
                <i class="fab fa-twitter fa-2x"></i>
                <i class="fab fa-facebook-f fa-2x"></i>
                <i class="fab fa-instagram fa-2x"></i>
              </div>
              <div class="col assigns text-right"><%= image_tag "sus_logo_footer", class: "ml-4", alt: "sus" %>
              </div>
            </div>
          </div>
        </div>
        <div class="br-divider"></div>
        <div class="container-lg">
          <div class="info">
            <div class="text-down-01 text-medium pb-3 text-center">Texto destinado a exibição de informações relacionadas à&nbsp;<strong>licença de uso.</strong></div>
          </div>
        </div>
      </div>
    