<%= render "shared/navbar" %>


<div class="banner">
  <div class="banner-content text-center">
    <h1>Carteira de Vacinação Digital</h1>
    <p>Sempre em dia com a sua saúde</p>
    <%= link_to "Entrar", new_user_session_path, class:"btn btn-warning", style: "border-radius:10px"%>
  </div>
</div>
