.wrapper {
  display: flex;
}

.vaccine-card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 10px 20px;
  padding: 20px 28px;
  // width: 90%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  // .card-body {
  //   display: flex;
  //   padding: 0;

  // }
  .card-title {
    font-weight: bold;
    font-size: 15px;
 
  }
  .card-info {
    width: 380px;
    flex: 1 0 380px;
  }
  .card-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.card-description {
  color: #77757a;
  font-size: 14px;
}

.dose-card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 10px 10px;
  padding: 20px 10px;
  flex: 0 0 100px;
  // width: 200px;
  // display: flex;
  // justify-content: space-between;
  .card-actions {
    display: flex;
    align-items: center;
  }
  .card-title {
    font-weight: bold;
    font-size: 15px;
  }
}

